
{% set compute = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['neutron-plugin-openvswitch-agent', 'openvswitch-switch', 'openvswitch-datapath-dkms'],
        'services': ['openvswitch-switch', 'neutron-plugin-openvswitch-agent']
    },
    'RedHat': {
        'pkgs': ['openstack-neutron-openvswitch', 'openvswitch', 'fuel-utils'],
        'services': ['openvswitch', 'neutron-openvswitch-agent']
    },
}, merge=salt['pillar.get']('neutron:compute')) %}

{% set bridge = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['neutron-dhcp-agent', 'neutron-plugin-openvswitch-agent', 'neutron-l3-agent', 'openvswitch-common'],
        'precise_pkgs': ['openvswitch-datapath-lts-saucy-dkms'],
        'migration': False,
        'services': ['neutron-plugin-openvswitch-agent', 'neutron-metadata-agent', 'neutron-l3-agent', 'neutron-dhcp-agent']
    },
    'RedHat': {
        'pkgs': ['openstack-neutron-openvswitch'],
        'migration': False,
        'migration_pkgs': ['fuel-utils',],
        'services': ['neutron-openvswitch-agent', 'neutron-metadata-agent', 'neutron-l3-agent', 'neutron-dhcp-agent']
    },
}, merge=salt['pillar.get']('neutron:bridge')) %}

{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['neutron-server','neutron-lbaas-agent', 'gettext-base'],
        'pkgs_ml2': ['neutron-plugin-ml2'],
        'services': ['neutron-server'],
        'notification': False
    },
    'RedHat': {
        'pkgs_ml2': ['openstack-neutron-ml2'],
        'pkgs': ['openstack-neutron'],
        'services': ['neutron-server'],
        'notification': False
    },
}, merge=salt['pillar.get']('neutron:server')) %}

{%- if pillar.neutron.server.enabled %}

{%- set tmp_server = pillar.neutron.server %}

{%- if not tmp_server.backend is defined %}

{%- if tmp_server.plugin == "contrail" %}

{%- from "opencontrail/map.jinja" import config with context %}

{%- set backend = {'engine': tmp_server.plugin, 'host': config.discovery.host, 'token': config.identity.token, 'user': config.identity.user, 'password': config.identity.password, 'tenant': config.identity.tenant} %}
{%- set tmp = server.update({'backend': backend}) %}

{%- endif %}

{%- endif %}

{%- endif %}