Source: salt-formula-neutron
Maintainer: Jakub Pavlik <jakub.pavlik@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://wiki.openstack.org/wiki/OpenStackSalt
Vcs-Browser: https://github.com/openstack/salt-formula-neutron
Vcs-Git: https://github.com/openstack/salt-formula-neutron.git

Package: salt-formula-neutron
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Neutron Salt formula
 Install and configure Neutron server and client.
